h4 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

button {
  padding: 5px 16px;
  background-color: #9b9b9b;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container {
  max-width: 600px;
}

.hover-effect:hover {
  background-color: #00a205; /* Change the color as needed */
  color: white; /* Change the color as needed */
}

.background {
  background-image: url("https://images.playground.com/78de7260efd848e0a5f31049e2d519dd.jpeg");
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Optional: apply a font */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  margin-bottom: 0.5rem;
}
.game-card {
  width: 5cm;
  height: 6cm;
}

.carousel {
  width: 15cm; /* Set the width of the carousel */
  height: 20cm; /* Set the height of the carousel */
}

.carousel-item {
  width: 100%; /* Ensure the carousel item takes the full width of the carousel */
  height: 100%; /* Ensure the carousel item takes the full height of the carousel */
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px; /* Adjust the width of the control buttons */
  height: 40px; /* Adjust the height of the control buttons */
}

h2 {
  background-color: #0dffdf;
  padding: 5px 16px;
  border-radius: 10px;
  text-align: center;
}
